<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!-- Configurar JSP como página predeterminada -->
    <welcome-file-list>
        <welcome-file>/WEB-INF/listaPeliculas.jsp</welcome-file>
    </welcome-file-list>

    <!-- Mapear Servlet -->
    <servlet>
        <servlet-name>PeliculaServlet</servlet-name>
        <servlet-class>com.example.l06.servlets.PeliculaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeliculaServlet</servlet-name>
        <url-pattern>/PeliculaServlet</url-pattern>
    </servlet-mapping>
</web-app>